<div class="flex justify-center">
  <div class="w-128 p-6">
    <%= form_with(model: balance, local: true) do |form| %>
      <% if balance.errors.any? %>
        <div class="error">
          <h2>You've got <%= pluralize(balance.errors.count, "error") %>
              here friend:</h2>
          <ul>
            <% balance.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, class: "form-input" %>
      </div>
      <div class="field">
        <%= form.label :amount %>
        <%= form.text_field :amount, class: "form-input" %>
      </div>
      <%= form.submit class: "submit-btn" %>
    <% end %>
  </div>
</div>
