<div class="flex">
  <div class="m-auto">
    <h1 class="text-4xl py-8">List of Balances</h1>
  </div>
</div>

<div class="md:px-32 py-4 w-full">
  <div class="shadow overflow-hidden rounded border-b border-gray-200">
    <table class="min-w-full bg-white">
      <thead class="bg-teal-700 text-white">
        <tr>
          <th class="th-styling">Name</th>
          <th class="th-styling">Amount</th>
          <th class="th-styling">Created</th>
          <th class="th-styling">Updated</th>
          <th class="th-styling">Edit</th>
          <th class="th-styling">Delete</th>
        </tr>
      </thead>
      <tbody class="text-gray-700">
        <% @balances.each do |balance| %>
          <tr>
            <td class="text-center py-2 px-3 font-semibold"><%= link_to balance.name, balance, class: "hover:text-teal-800" %></td>
            <td class="text-center"><%= number_to_currency(balance.amount) %></td>
            <td class="text-center"><%= time_ago_in_words balance.created_at %><%= " ago" %></td>
            <td class="text-center"><%= time_ago_in_words balance.updated_at %><%= " ago" %></td>
            <td class="text-center"><%= link_to "Edit Balance", edit_balance_path(balance), class: "edit-btn" %></td>
            <td class="text-center"><%= button_to "Delete Balance", balance_path(balance), method: :delete, class: "delete-btn" %></td>
          </tr>
        <% end %>
     </tbody>
   </table>
 </div>
 <button class="main-btn">
   <%= link_to "Add Balances", new_balance_path %>
 </button>
</div>
