
<h1 class="flex justify-center text-4xl mt-4">Add New Balance Data</h1>

<div class="flex justify-center">
  <div class="w-128 p-6">
    <%= form_with(model: @balance, local: true) do |form| %>
      <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, class: "block border border-gray-300 w-full p-3 rounded mb-4" %>
      </div>
      <div class="field">
        <%= form.label :balance %>
        <%= form.text_field :balance, class: "block border border-gray-300 w-full p-3 rounded mb-4" %>
      </div>
      <%= form.submit class: "w-full text-center py-3 rounded bg-teal-600 text-white hover:bg-teal-800 focus:outline-none" %>
    <% end %>
  </div>
</div>
